{% extends "layout.html" %}
{% block title %}
    Historical Transactions
{% endblock %}

{% block main %}
<h2>Historical Transactions</h2>
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
        <th scope="col">Total</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <th scope="row"> {{ transaction.symbol }}</th>
            <td> {{ transaction.name }} </td>
            <td> {{ transaction.shares }} </td>
            <td> {{ transaction.price }}</td>
            <td> {{ transaction.action }}</td>
            <td> {{ (transaction.price * transaction.shares) | usd }}</td>
            <td> {{ transaction.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}