{% extends "layout.html" %}

{% block title %}
    Selling Page
{% endblock %}

{% block main %}
{% if symbol_to_sell %}
<h3>Selling {{ symbol_to_sell }} stocks</h3>
<form action="/sell" method="post">
<input class="form-control mx-auto w-auto" id="symbol" name="symbol" value="{{ symbol_to_sell }}" type="hidden">
{% else %}
<form action="/sell" method="post">
    <div class="form-group">
        <h3> Sell a particular stock </h3>
        <label for="symbol">Choose a symbol</label>
        <select name="symbol" id="symbol">
                {% for symbol in symbols %}
                    <option name= "{{ symbol.symbol }}"> {{ symbol.symbol }} </option>
                {% endfor %}
        </select>
    </div>
    <br>
{% endif %}
    <div class="form-group">
        <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number" min="0">
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-danger"><strong>SELL</strong></button>
    </div>

</form>
{% endblock %}
